# WebSocket server (metadata)
# https://example.com:7905 {
https://*:7905 {
	tls self_signed
	# tls email@example.com {
	#	dns cloudflare
	# }
	proxy / 127.0.0.1:17905 {
		websocket
	}
	log / stdout
}

# HTTP server (audio)
# https://example.com:7906 {
https://*:7906 {
	tls self_signed
	# tls email@example.com {
	#	dns cloudflare
	# }
	proxy / 127.0.0.1:17906 {
		transparent
	}
	log / stdout
}
