# web socket (metadata) server
# https://example.com:7905 {
https://*:7905 {
	tls self_signed
	# tls email@example.com {
	#	dns cloudflare
	# }
	log / stdout "[{when_iso}] [{remote} - {host}] [{method} {proto} {status}] {uri}"
	proxy / 127.0.0.1:7903 {
		websocket
	}
}

# audio (file) server
# https://example.com:7906 {
https://*:7906 {
	tls self_signed
	# tls email@example.com {
	#	dns cloudflare
	# }
	log / stdout "[{when_iso}] [{remote} - {host}] [{method} {proto} {status}] {uri}"
	proxy / 127.0.0.1:7904 {
		transparent
	}
}
